<h1>Eat-Da-Burger</h1>

<h2>Burgers to Eat</h2>
<ul>
	{{#each burgers}}
	{{#unless devoured}}
	<li>{{this.burger_name}} <button type="submit">Devoured</button></button></li>
	{{/unless}}
	{{/each}}
</ul>

<h2>Burgers Devoured</h2>
<ul>
	{{#each burgers}}
	{{#if devoured}}
	<li>{{this.burger_name}}</li>
	{{/if}}
	{{/each}}
</ul>

<h2>Add-A-Burger</h2>

<form id="addBurger">
	<input type="text" name="burger_name" id="burger_name">
	<button type="submit">ADD BURGER</button>
</form>

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', (event) => {
		if (event) {
			console.info('DOM loaded');
		};
	});

	// create
	const submitBurgerBtn = document.getElementById('addBurger');

	submitBurgerBtn.addEventListener('submit', (e) => {
		e.preventDefault();

		const newBurger = {
			burger_name: document.getElementById('burger_name').value.trim(),
		};

		console.log(newBurger);

		// Send POST request to create a new quote
		fetch('/api/burgers', {
			method: 'POST',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json',
			},
			// make sure to serialize the JSON body
			body: JSON.stringify(newBurger),
		}).then(() => {
			// Empty the form
			document.getElementById('burger_name').value = '';
			console.log('Added a new burger!');
			location.reload();
		});
	});

</script>