.jumbotron{
    text-align: center;
    background-image: url('../img/background.PNG'); 
    background-size: cover; 
    height: 125px;  
}

body{
    background-color: #FBE0E6;
    opacity: 75%;
}
h2 {
    text-align: center;
    color: #ED7D96;
}


.row{
    margin-top: 20px;
}

#addBurger{
    text-align: center; 
}

#addBurgerCard{
    width: 40%;
    margin-left: auto; 
    margin-right: auto; 
    background-image: url('../img/background.PNG'); 
    background-size: contain;
    border-color: yellow; 
}

#cardheading{
    color: white;
}

li {
    font-size: 18px;
    margin-top: 5px;
}
