.jumbotron{
    text-align: center;
    background-color: #E7AD99; 
}

h2 {
    text-align: center;
    color: #E7AD99;
}


.row{
    margin-top: 20px;
}

#addBurger{
    text-align: center; 
}

#addBurgerCard{
    width: 65%;
    margin-left: auto; 
    margin-right: auto; 
}

li {
    font-size: 18px;
    margin-top: 5px;
}
