<li>
    {{burger_name}}
    {{#unless devoured}}
    <button class="ateBurger btn btn-outline-info" data-id="{{id}}" data-devoured="{{this.devoured}}">
       Devoured 
    </button>
    {{/unless}}
</li>