<li>
    {{burger_name}}
    
    <button class="change-devoured btn btn-info" data-id="{{id}}" data-devoured="{{devoured}}">
      {{#if devoured}} DEVOURED! {{else}} I Didn't Finish That! {{/if}}
    </button>
  
</li>