<li>
    {{burger_name}}
    
    <button class="change-devoured btn btn-outline-info" data-newdevour="{{id}}" data-devoured="{{devoured}}">
      {{#if devoured}} I Couldn't Do It {{else}} DEVOURED! {{/if}}
    </button>
  
</li>